body,
html {
	width: 100%;
	height: 100%;
	font: 'Montserrat' sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 4em;
	color: white;
}

.btn-warning {
	background-color: red;
	border-color: red;
}

.btn-warning:hover {
	background-color: red;
	border-color: red;
	border-width: 4px;
}

.btn-xl {
	padding:  1rem 2rem;
}

hr {
	border-color: red;
	border-width: 2px;
	max-width: 75px;
}

.buffer {
	height: 25px;
}